{% extends "global/Page.html" %}
{% load otree %}




{% comment %}
Copyright 2020 Matthias L. Duch

This software and associated documentation files can be freely redistributed
under the terms of the MIT License, a copy of which you should have received.
{% endcomment %}




{% block content %}
<script>
$(document).ready(function() {
	document.title="CLER_Collect"; // Replaces the title in the Browsertab, which is disabled du to the feature of otree to set it as a first block
    $('.debug-info').hide();       // hides the disturbing debug stuff ;
	var attempts=0; 	
	
	// The advantage of the following check is that the check for a correct checksum might be disabled without restarting the otree Server 
	if("{{ use_checksum }}"=="True"){ // Whether to use the checksum feature. Default is enabled. Set in while creating the session in otree session create. 
		$( "form" ).submit(function( event ) {			
			// An simple implementation of Luhn's checksum Algorithm 
			// It just checks, wheter a checkdigit fullfills this conditions to notify
			// Later on it needs to be matched to the Codes generated in another program
			// Furthermore it does only notify once.

			var entered_key = parseInt($("#id_enterUniqueCode").val(),10);
			
			var ds_varDigit1_entered = Math.floor((entered_key%1000000)/100000)
			var ds_varDigit2_entered = Math.floor((entered_key%100000)/10000)
			var ds_varDigit3_entered = Math.floor((entered_key%10000)/1000)
			var ds_varDigit4_entered = Math.floor((entered_key%1000)/100)
			var ds_varDigit5_entered = Math.floor((entered_key%100)/10)
			var ds_varDigit6_entered = Math.floor((entered_key%10)/1)
			console.log(entered_key);
			console.log(ds_varDigit1_entered);
			console.log(ds_varDigit2_entered);
			console.log(ds_varDigit3_entered);
			console.log(ds_varDigit4_entered);
			console.log(ds_varDigit5_entered);
			console.log(ds_varDigit6_entered);

			var ds_checksum = 0
			if((ds_varDigit1_entered*2)>9){ds_checksum = (ds_checksum + ds_varDigit1_entered*2-9);}else{ds_checksum = (ds_checksum + ds_varDigit1_entered*2);}
			ds_checksum = ds_checksum + ds_varDigit2_entered;
			if((ds_varDigit3_entered*2)>9){ds_checksum = (ds_checksum + ds_varDigit3_entered*2-9);}else{ds_checksum = (ds_checksum + ds_varDigit3_entered*2);}
			ds_checksum = ds_checksum + ds_varDigit4_entered
			if((ds_varDigit5_entered*2)>9){ds_checksum = (ds_checksum + ds_varDigit5_entered*2-9);}else{ds_checksum = (ds_checksum + ds_varDigit5_entered*2);}

			var ds_verified_checksum=(ds_checksum+ds_varDigit6_entered)%10 
			console.log(ds_verified_checksum);
			
			
		  if(ds_verified_checksum !=0 & attempts==0){ // Only notify once and if the checksum is wrong
			alert("Bitte überprüfen Sie den von Ihnen eingegebenen Code.");
			attempts=1;
			//event.preventDefault(); // possible, but the return does the same.
			return false;
		  }
		});
	}
});
</script>
<div style="display:inline-block;text-align:center;background-color: black; width:100%;">
	<img src='{% static "logo.png" %}' width="70%" />
</div>
<br><br>
    <p>
        Für eine Auszahlung benötigen wir die folgenden Angaben:
    </p>

{% if received_label is not True %}{% comment %}  In this case use a pin entered by hand. The code might be created by Smartriqs, et al... {% endcomment %}
    {% formfield player.enterUniqueCode %}
{% comment %}

<div class="form-check">
	<label class="form-check-label  field-enterUniqueCode" for="id_agreedConsent">
		<input name="enterUniqueCode" type="checkbox" id="id_agreedConsent" class="form-check-input" required/>
		{{ form.enterUniqueCode.label | safe }}	
		<div class="form-control-errors">
			{{ form.enterUniqueCode.errors }}
		</div>
	</label>
</div>
{% endcomment %}

{% endif %}

{% comment %}
{% formfield player.agreedConsent %}
{{ form.agreedConsent }}
{% endcomment %}


{% formfield player.email %}

{% comment %}
{% formfield player.agreedConsent %}
<label>
	<input name="agreedConsent" type="checkbox"/>
	{{ form.agreedConsent.label | safe }}	
	<div class="form-control-errors">
	{{ form.agreedConsent.errors }}
	</div>
</label>
{% endcomment %}



<div class="form-check">
	<label class="form-check-label  field-agreedConsent" for="id_agreedConsent">
		<input name="agreedConsent" type="checkbox" id="id_agreedConsent" class="form-check-input" required/>
		{{ form.agreedConsent.label | safe }}	
		<div class="form-control-errors">
			{{ form.agreedConsent.errors }}
		</div>
	</label>
</div>

<br>

<div>
	<button class="btn btn-primary">Abschicken</button>
</div>

{% endblock %}