{% extends "global/Page.html" %}
{% load otree %}




{% comment %}
Copyright 2020 Matthias L. Duch

This software and associated documentation files can be freely redistributed
under the terms of the MIT License, a copy of which you should have received.
{% endcomment %}




{% block title %}

{% endblock %}


{% block content %}
<script>
// Entfernt die nicht genutzte Seitenueberschrift und den dadurch erzeugten Abstand
$(document).ready(function() {
    $('.debug-info').hide(); // hides the disturbing debug stuff ;
});
</script>

<div style="display:inline-block;text-align:center;background-color: black; width:100%;">
	<img src='{% static "logo.png" %}' width="70%" />
</div>

<br>

<br>

<h2> Ihre Daten wurden übernommen. </h2>

<p>
Falls Sie Fragen haben, so wenden Sie sich bitte per Mail an:
</p>
<p><a href="mailto:labor@example.com">labor@example.com</a> 
<i>Hier E-Mail-Adresse des Labors angeben (cler_collector_SERVERSIDE\templates\cler_collector_SERVERSIDE\lastpage.html)</i>
</p>

<p>Falls Sie keine weiteren Anweisungen vom Experimentator mehr vorliegen haben, so ist das Experiment nun beendet.</p>

<p>Wir wünschen Ihnen noch einen schönen Tag.</p>


{% endblock %}
