{% extends "global/Page.html" %}
{% load otree %}



{% comment %}
Copyright 2020 Matthias L. Duch

This software and associated documentation files can be freely redistributed
under the terms of the MIT License, a copy of which you should have received.
{% endcomment %}



{% block title %}
Erhebung Ihrer persönlichen Daten
{% endblock %}

{% block content %}
<script>
// Entfernt die nicht genutzte Seitenueberschrift und den dadurch erzeugten Abstand
$(document).ready(function() {
    $('.debug-info').hide(); // hides the disturbing debug stuff ;
});
</script>
    <p>
        Mit einem Klick auf den Button gelangen Sie auf eine Website des 
		<i>Hier Name des Labors eingeben</i>, auf der wir Ihre persönlichen Angaben erheben. 
		Dabei wird eine von uns zufällig erzeugte Zeichenkette als Teil des Links übertragen, 
		die es uns ermöglicht Ihre Auszahlung mit ihrer E-Mailaddresse zu verknüpfen. 
		Nach der Auszahlung wird diese Verknüpfung gelöscht.
    </p>

<br>

<a href="{{ player.uniqueURL }}" class="btn btn-primary btn-lg" role="button">Hier klicken</a>

{% endblock %}
